


body {
  background: #FFB6C1;
  color: #FF6347

}

section {
  border-bottom: #F0F8FF 2px solid;
  min-height: 98vh;
  margin-top: 0.55em;
}


figure{
    margin-top: 0.55em;
margin-bottom: 0.65em;

}
figure img {
  width: 100%;
}
.project-feature-container {
display: flex;
flex-wrap: wrap;
justify-content: space-around;

}

.project-feature {

  border: 2px solid #F0F8FF;
  margin: 1em;
  padding: 1em;
  flex-basis: 960px;
}

.photo-feature-container {

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.photo-feature {

  border: 2px solid #F0F8FF;
  margin: 1em;
  padding: 1em;
  flex-basis: 320px;


}
